<div  class="page-container">
  <form class="form-container" [formGroup]="myForm" (ngSubmit) = "checkData()">
    <mat-form-field class="display-block">
      <input matInput placeholder="User Name" formControlName="userName">
      <mat-error *ngIf="f.userName.errors && f.userName.errors.required">User Name Required</mat-error>
    </mat-form-field>
    <mat-form-field class="display-block">
      <input matInput placeholder="Password" formControlName="password">
      <mat-error *ngIf="f.password.errors && f.password.errors.required">Password Required</mat-error>
    </mat-form-field>
    <mat-button class="primary">Submit</mat-button>
  </form>
  <a [routerLink]="/register">Sign Up</a>
</div>

